@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* base styles */
body {
  /* background: #171a1f; */
  background: #f5f5f5;
  @apply text-primary font-poppins;
}
h1 {
  @apply font-bold text-primary text-2xl md:text-3xl;
}

h2 {
  @apply font-bold text-primary text-[2.5rem] lg:text-[4rem] leading-tight;
}

h3 {
  @apply font-bold text-primary text-3xl md:text-4xl;
}

section {
  @apply w-full max-w-[1550px] mx-auto px-5 md:px-8 lg:px-14;
}
header {
  @apply w-full max-w-[1550px] pt-5 md:pt-8 px-5 md:px-8 lg:px-14 mx-auto;
}

header > div {
  @apply w-full border-b border-neutral-100/10 pb-5;
}

.logo-cont {
  @apply flex gap-2 items-center;
}

.center-flex {
  @apply flex justify-center items-center;
}

.nav-link {
  @apply hover:opacity-100 hover:text-secondary opacity-90;
}

.nav-link-mobile {
  @apply hover:text-secondary;
}
/* button styles */
button {
  @apply flex gap-2 items-center uppercase rounded-sm transition-all duration-300;
}
/* button:hover {
  @apply border-secondary;
} */
.btn-primary {
  @apply text-sm pb-2 px-1 border-b-2 border-primary/60;
}

.btn-secondary {
  @apply text-sm font-bold px-10 py-5 flex items-center bg-secondary text-primary shadow-custom hover:shadow-clicked;
}

.btn-custom {
  @apply w-full sm:w-[300px] center-flex text-sm px-8 py-4 flex items-center border-primary/50;
}

/* random styles */
.home {
  @apply relative bg-no-repeat bg-[right_top_6rem] md:bg-[right_top_9rem] bg-[length:250px_auto] md:bg-[length:500px_auto];
}

.loader-message-card {
  @apply w-full text-[.95rem] md:text-[1.2rem] p-[25px] md:py-[20px] rounded-lg flex flex-col gap-4 justify-center items-center;
}

/* custom animations */
@layer utilities {
  .quickview {
    animation: quickview 0.6s ease;
  }
  @keyframes quickview {
    0% {
      transform: translateY(-50px);
      -webkit-transform: translateY(-50px); /* Safari and Chrome */
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px); /* Safari and Chrome */
      opacity: 1;
    }
  }

  .blink {
    animation: blink 1s ease infinite;
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
  }

  .expand {
    animation: expand 0.6s ease-in-out;
  }

  @keyframes expand {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .blurry {
    backdrop-filter: blur(14px);
  }
}
