@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "sfpro";
  src: url("./fonts/sfpro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "sfpro";
  src: url("./fonts/sfpro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "sfpro";
  src: url("./fonts/sfpro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}

/* base styles */
body {
  /* background: #171a1f; */
  @apply text-primary font-sfpro bg-primary1;
}
h1 {
  @apply font-bold text-2xl md:text-3xl;
}

h2 {
  @apply font-bold text-[2rem] md:text-[2.25rem] lg:text-[4rem] leading-tight;
}

h3 {
  @apply font-bold text-3xl lg:text-5xl font-sfpro;
}

section {
  @apply w-full max-w-[1550px] mx-auto px-3 md:px-8 lg:px-14;
}
/* header {
  @apply w-full pt-5 md:pt-8 px-5 md:px-8 lg:px-14 mx-auto;
}

header > div {
  @apply w-full border-b border-neutral-100/10 pb-5;
} */

.logo-cont {
  @apply flex gap-2 items-center;
}

.center-flex {
  @apply flex justify-center items-center;
}

.nav-link {
  @apply hover:opacity-100 opacity-90;
}

.nav-link-mobile {
  @apply hover:text-secondary;
}
/* button styles */
button {
  @apply flex gap-2 items-center rounded-sm transition-all duration-300;
}

.btn-primary {
  @apply text-sm pb-2 px-1 border-b-2 border-primary/60;
}

.btn-secondary {
  @apply text-sm font-bold px-10 py-5 flex items-center bg-secondary text-primary shadow-custom hover:shadow-clicked;
}

.btn-custom {
  @apply w-full sm:w-[300px] center-flex text-sm px-8 py-4 flex items-center border-primary/50;
}

.btn-custom2 {
  @apply w-full center-flex px-4 py-2 flex items-center border border-secondary/50 shadow-custom bg-secondary font-medium hover:shadow-clicked;
}

.btn-custom3 {
  @apply px-8 py-4 bg-secondary2 rounded-full text-white font-medium text-lg flex gap-2 items-center;
}
.btn-custom4 {
  @apply px-8 py-4 bg-secondary rounded-full text-primary1 font-medium flex gap-2 items-center;
}
.btn-custom5 {
  @apply px-8 py-4 bg-primary1 rounded-full text-white font-medium flex gap-2 items-center;
}
/* random styles */
.home {
  @apply relative bg-no-repeat bg-[right_top_6rem] md:bg-[right_top_9rem] bg-[length:250px_auto] md:bg-[length:500px_auto];
}

.loader-message-card {
  @apply w-full text-[.95rem] md:text-[1.2rem] p-[25px] md:py-[20px] rounded-lg flex flex-col gap-4 justify-center items-center;
}

.circle-decor {
  @apply w-[280px] h-[280px] md:w-[450px] md:h-[450px] lg:w-[550px] lg:h-[550px] md:mx-auto object-cover rounded-full absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
}

/* custom animations */
@layer utilities {
  .bgslide {
    animation: bgslide 0.6s ease-in-out;
  }

  @keyframes bgslide {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .quickview {
    animation: quickview 0.6s ease;
  }
  @keyframes quickview {
    0% {
      transform: translateX(-100px);
      -webkit-transform: translateX(-100px); /* Safari and Chrome */
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      -webkit-transform: translateX(0px); /* Safari and Chrome */
      opacity: 1;
    }
  }

  .quickview2 {
    animation: quickview2 0.6s ease;
  }
  @keyframes quickview2 {
    0% {
      transform: translateX(100px);
      -webkit-transform: translateX(100px); /* Safari and Chrome */
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      -webkit-transform: translateX(0px); /* Safari and Chrome */
      opacity: 1;
    }
  }

  .blink {
    animation: blink 1s ease infinite;
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
  }

  .swing {
    animation: swing 20s linear infinite;
  }
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .expand {
    animation: expand 0.6s ease-in-out;
  }

  @keyframes expand {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .rotate {
    animation: rotate 10s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .blurry {
    backdrop-filter: blur(8px);
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: black;
  }

  .pagination a {
    color: #2a354e;
    font-size: 15px;
    line-height: 15px;
    padding: 7px 20px;
    text-decoration: none;
    border: 1px solid #2a354e;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
    background-color: #fcea10;
  }

  .pagination a:hover {
    color: #ff4402;
  }

  .pagination .active a {
    background-color: #481297;
    border: 1px solid #2a354e;
    color: white;
  }

  .pagination .break-me {
    padding: 8px 12px;
  }

  /* Track */
  ::-webkit-scrollbar {
    width: 10px;
    height: 3px;
    background: rgba(250, 250, 250, 0.5);
  }
  @media (max-width: 1150px) {
    ::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      background: rgba(250, 250, 250, 0.5);
    }
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(72, 18, 151, 0.7);
    /* border-radius: 5px; */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(10, 10, 10, 0.7);
  }

  .black {
    background: black;
    color: white;
    mix-blend-mode: multiply;
  }
  .white {
    background: white;
    color: black;
    mix-blend-mode: screen;
  }
}
