/* Style for Swiper Pagination */
.swiper-pagination {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 100px;
  z-index: 100;
}

@media (max-width: 700px) {
  .swiper-pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
}

/* Style for the pagination bullet (inactive) */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  /* border: 1px solid #f7c30d; */
  background-color: #d9d9d9;
  margin: 0 5px;
  cursor: pointer;
}

/* Style for the active pagination bullet */
.swiper-pagination-bullet-active {
  background-color: #0a0a0a;
  width: 50px;
  height: 10px;
  border-radius: 10px;
}
